.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 104px;
    padding-right: 84px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container {
    position: sticky;
    top: 0;
    background-color: rgba(255, 153, 0, 0.3);
    padding-left: 23px;
    height: 750px;
}

.cart-container h2 {
    text-align: left;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 34px;
}

.cart-container {
    margin-top: 0;
}

.cart-container h6 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0015em;
    text-align: left;
}

.pagination {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination button {
    margin-right: 10px;
    padding: 0 8px;
    border: 2px solid black;
}

.pagination .selected {
    background-color: black;
    color: white;
}