.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 36px;
}

.nav-links a:hover {
    color: orange;
}